<!DOCTYPE html>
<html>
<head>    
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Lato&family=Roboto:wght@100;300;400;500;700;900&display=swap');
    </style>
    <link rel="stylesheet" href="../css/login_style.css">
    <link rel="stylesheet" href="../css/style.css">

    <title> Login | Pritom Drug Store</title>
</head>

<!--Body-->
<body>
    
    <div class=info>
        <table class="info_table">
            <tr>
              <td style="border:None;">Call Us: 0123456789</td>
              <td>Email: Pritom@drugstore.com</td>
              <td><a style="text-decoration: none; color:white" href="#">Find a Store Near You</a></td>
              <td>Mon - Sat 8:00 - 17:30, Sunday - CLOSED</td>
            </tr>
          </table>
    </div>
    
    <div class="bar">
        <div class="icon"><a href="index.html"><img src="../image/home2.png" alt=""></a> </div>
        <div class="search">
            <form class="navbar-form" method="post" name="form1">
                <input class="form-control" type="text" name="search" placeholder="Search for products..." >
                <div class="search-button">
                    <button type="submit" class="btn btn-default">Search</button>
                </div>
            </form> 
        </div>
        <div class="login">
            <a style="padding: 15px;" href="#"><img src="../image/user.png" alt=""></a>
            <a style="padding: 15px;" href="#"><img src="../image/heart.png" alt=""></a>
            <a style="padding: 15px;" href="#"><img src="../image/cart.png" alt=""></a>
        </div>
        <div class="side_bar_btn">
            <span style="font-size:200%;cursor:pointer" onclick="openNav()"> ☰ </span>
        </div>
        <div id="mySidenav" class="sidenav">
        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
        <h1>Main Menu</h1>
        <a href="#">About</a>
        <a href="#">Services</a>
        <a href="#">Clients</a>
        <a href="#">Contact</a>
        </div>
    
    </div>
    <script>
        function openNav() 
        {
        document.getElementById("mySidenav").style.width = "250px";
        document.getElementById("mySidenav").style.boxShadow = "0px 0px 0px 30000px rgba(0, 0, 0, 0.5)";
        }
        function closeNav() 
        {
        document.getElementById("mySidenav").style.width = "0";
        document.getElementById("mySidenav").style.boxShadow = "None";
        }
    </script>
    <div class="dummy">
        <img src="../image/dummy_bar.png" alt="">
    </div>
    <!--x-guest---------------------------------------------->
    <div>
        {{ $slot }}
    </div>
    <!--x-guest----------------------------------------------->
    <div class="footer1">
        <a href="#" style="font-weight: 900;">Store Location<p style="font-size: smaller;font-weight: 400;">15051 E Alameda Pkwy, Aurora,</p><p style="font-size: smaller;font-weight: 400;">CO 80012, USA</p></a>
        <h2 style="cursor: default;">Call Us:<p style="color: rgb(103, 13, 131);">0123 456 789</p></h2>    
        <h2 style="cursor: default;">Email<p style="font-size: smaller;font-weight: 400;">Pritom@drugstore.com</p></h2>  
        <a href="#" style="font-weight: 900;">Your Questions<p style="font-size: smaller;font-weight: 400;">FAQs</p></a>
        
    </div>
    <div class="footer2">
        <p style="font-size: 16px;font-weight: 400; color: rgb(95, 95, 95);word-wrap: break-word;"> hi how are you are you good this is a test.hi how are you are you good this is a test.hi how are you are you good this is a test.hi how are you are you good this is a test.hi how are you are you good this is a test.hi how are you are you good this is a test.
        </p>
        <h1>Information
            <a href="">About Us</a>
            <a href="">FAQs</a>
            <a href="">Contact Us</a>
            <a href="">Find Us</a>
            <a href="">Terms And Conditions</a>
        </h1>

        <h1>Customer Care
            <a href="">My Account</a>
            <a href="">How to order</a>
            <a href="">Track your Order</a>
            <a href="">Customer Services</a>
            <a href="">Return Product</a>
            
        </h1>
        <div class="join">
            <h2>Join us: </h2>
            <a href=""></a>
            <a href=""></a>
            <a href=""></a>
        
        </div>
    </div>
    <div class="footer3">
        <table class="footer_table">
            <tr>
              <td>Free Easy Return<p>Return to 7days</p></td>
              <td>Fast and Easy<p>Free delivery over 400tk</p></td>
              <td>All Day Support<p>24/7 Support</p></td>
              <td>Secure Checkout<p>100% Protected</p></td>
            </tr>
        </table>
        <h1>Copyright @ 2023 Pharmacy. All rights reserved</h1>
        <h2>We Accept:  </h2>
    </div>
    

</body>
</html>